.homeContent{
    padding: 0 15rem;
}

.homeContent > div {
    margin-bottom: 3rem;
}

.experienciaPersonalizada{
    display: grid;
}

.experienciaPersonalizada > a {
    font-weight: 600;
}

.experienciaPersonalizada .information > div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem
}

.experienciaPersonalizada .information p {
    text-align: justify;
}

.registroOuLogin{
    margin: 4rem auto 0 auto;
}

.possuiConta{
    justify-content: center;
    width: 100%;
    gap: 3px;  
}

.possuiConta > a {
    text-decoration: underline;
}

.boasVindas > img{
    width: 100%;
}