.globalButton{
    background-color: var(--purple-normal);
    border-radius: var(--border-radius);

    padding: .75rem 1.875rem;

    align-self: center;

    width: max-content;

    margin: 0 auto;

    transition: all .2s ease-in-out;
}

.globalButton:hover{
    background-color: var(--purple-normal-hover);
}

.globalButton a {
    color: var(--white);
    position: relative;
    font-weight: 600;
}