.gamesWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 1rem;

    background-color: var(--white);
    border-radius: var(--border-radius);
}

.gameList--item {
    font-weight: 600;
}

