.logoContainer{
    width: 80px;
    height: 100%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 6rem;
    color: black;
    position: relative;
}

.navBar::before{
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
}

.ulNavigation{
    display: flex;
    gap: 3rem;
}
