@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: .7rem;

  --purple-normal: #5C3088;
  --purple-normal-hover: #532B7A;
  --purple-darker: #201130;
  --white: #fff;
  --off-white: #E4EAEE;
  --dark-grey: #111111;
}

* {
  font-family: 'Inter', sans-serif;
  line-height: 156%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


a,
li,
button {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

a {
  color: var(--purple-normal)
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1rem;
}

.flexCenter{
  display: flex;
  align-items: center;
}